/* add your CSS here */
.label{
	font-weight: bold;
}

.big-box{
	border: 1px solid #cccccc;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	width: 350px;
}

.box{
	border: 1px solid #cccccc;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	width: 330px;
}

img, h3{
	margin: 5px;
}

.italicized{
	font-style: italic;
}

ul{
	list-style: none;
}